@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    @apply bg-slate-900 text-white;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 16px);
  }
  .safe-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
}
